---
import { fixture } from "./../resources/fixture.json";
---

<div class="flex flex-col">
  <h3 class="text-3xl text-white font-bold uppercase text-center mb-8">
    fixture completo - jvc
  </h3>
  <article
    class="flex flex-row gap-y-4 gap-x-4 justify-between group md:flex-row md:flex-wrap md:justify-between sm:flex-wrap flex-wrap"
  >
    {
      fixture.map(
        ({
          competition,
          category,
          teama,
          teamb,
          scorea,
          scoreb,
          field,
          day,
          hour,
        }) => {
          return (
            <div class="flex flex-col items-center justify-center rounded-lg bg-white w-full h-60 gap-5 md:w-[48%] shadow-2xlsm">
              <h1 class="text-[#070F2B] text-2xl font-semibold text-center">
                {competition} - {category}
              </h1>
              <div class="flex items-center gap-5">
                <div class="flex items-center gap-4">
                  <h2 class="text-[#152E84] text-xl font-medium">{teama}</h2>
                </div>
                <p class="text-[#070F2B] text-2xl px-6 py-2 font-semibold border border-black rounded-lg">
                  {scorea} - {scoreb}
                </p>
                <div class="flex items-center gap-4">
                  <h2 class="text-[#152E84] text-xl font-medium">{teamb}</h2>
                </div>
              </div>
              <h3 class="text-[#1B1A55] text-xl text-center">
                {field} <br />
                <span class="font-medium">
                  {day} - {hour}
                </span>
              </h3>
            </div>
          );
        }
      )
    }
  </article>
</div>
